@page "/user-detail"

@using Home_Server.Models

<td>
    @CurrentUser.Name
</td>

<td>
    @CurrentUser.FamilyName
</td>

<td>
    @CurrentUser.DayOfBirth
</td>

<td>
    @CurrentUser.Email
</td>

<td>
    @CurrentUser.Home
</td>

<td>
    <button style="background-color:cadetblue; color:white" @onclick="Delete">Delete</button>
</td>

<td>
    <button style="background-color:cadetblue; color:white" @onclick="Edit">Edit</button>
</td>


@code {
    /*Author: SebastianCns Date: 25.01.23
    *
    *Description:
    *
    *
    */
    [Parameter]
    public UserModel CurrentUser { get; set; }
    [Parameter]
    public EventCallback<UserModel> OnDeleteEvent { get; set; }

    private void Edit()
    {

    }

    private void Delete()
    {
        OnDeleteEvent.InvokeAsync(CurrentUser);
    }
}
